<div class="main-div">

  <button class="main-button" (click)="onMainBtnClick()">{{btnText}}</button>

  <div *ngIf="showAddForm" class="new-story-div">
    <table>
      <tr>
        <td>
          <h4>ID</h4>
        </td>
        <td>
          <input type="number" [(ngModel)]="tempStory.id" />
        </td>
      </tr>
      <tr>
        <td>
          <h4>Title</h4>
        </td>
        <td>
          <input type="text" [(ngModel)]="tempStory.title" />
        </td>
      </tr>
      <tr>
        <td>
          <h4>Developer</h4>
        </td>
        <td>
          <select [(ngModel)]="tempStory.developer">
            <option *ngFor="let member of developers">{{member.firstName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Tester</h4>
        </td>
        <td>
          <select [(ngModel)]="tempStory.tester">
            <option>N/A</option>
            <option *ngFor="let member of testers">{{member.firstName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Owner</h4>
        </td>
        <td>
          <select [(ngModel)]="tempStory.owner">
            <option *ngFor="let member of owners">{{member.firstName}}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngFor="let story of stories; let i = index" class="flex" [ngClass]="{'story-collapsed': expandedStoryIndex != i, 'story-expanded': expandedStoryIndex == i}">
    <div class="story-info">
      <h4 style="color: #acacac;">{{story.id}}</h4>
      <h3>{{story.title}}</h3>
      <div class="story-info-members">
        <p class="border-developer member">{{story.developer}}</p>
        <p class="border-tester member">{{story.tester}}</p>
        <p class="border-owner member">{{story.owner}}</p>
      </div>
    </div>
    <div class="flex story-option">
      <h4 style="margin-right: 10px;">{{getTotalHours(story)}}</h4>
      <div *ngFor="let task of story.tasks; let j = index" style="height: 30px; border-right: 1px solid white;" class="tooltip"
        (dblclick)="onTaskClick(i, j)" [ngStyle]="{'width':getWidth(task.hours), 'background-color':getColor(task.taskFor)}">
        <span class="tooltiptext">{{task.title}} in {{task.hours}} Hours</span>
      </div>
      <div class="new-task-div" *ngIf="expandedStoryIndex == i">
        <table>
          <tr>
            <td>
              <h4>Title</h4>
            </td>
            <td>
              <input type="text" class="w-100" [(ngModel)]="tempTask.title" />
            </td>
          </tr>
          <tr>
            <td>
              <h4>Task for</h4>
            </td>
            <td>
              <select class="w-100" [(ngModel)]="tempTask.taskFor">
                <option value="Developer">{{story.developer}}</option>
                <option value="Tester" *ngIf="story.tester!='N/A'">{{story.tester}}</option>
                <option value="Owner">{{story.owner}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Seq</h4>
            </td>
            <td>
              <select class="w-100" [(ngModel)]="tempTask.seq">
                <option [value]="0">During Development</option>
                <option [value]="1">After Development</option>
                <option [value]="2">After Testing</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Hours</h4>
            </td>
            <td>
              <select class="w-100" [(ngModel)]="tempTask.hours">
                <option [value]="1">1 Hour</option>
                <option [value]="2">2 Hour</option>
                <option [value]="3">3 Hour</option>
                <option [value]="4">4 Hour</option>
                <option [value]="5">5 Hour</option>
                <option [value]="6">6 Hour</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <h4>After</h4>
            </td>
            <td>
              <select [(ngModel)]="tempTask.after">
                <option>N/A</option>
                <option *ngFor="let task of story.tasks">{{task.title}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button class="task-btn" (click)="onDoneTaskBtnClick()">Done</button>
            </td>
          </tr>
        </table>
      </div>
      <button class="task-btn" (click)="onAddTaskBtnClick(i)" *ngIf="expandedStoryIndex == -1">Add Task</button>
      <button class="story-remove-btn" (dblclick)="onRemoveStoryClick(i)" *ngIf="expandedStoryIndex == -1">Remove</button>
    </div>
  </div>
</div>